@import "tailwindcss";

@theme {
    --color-bg-from: #D6A99D;
    --color-bg-via: #FFF2EF;
    --color-bg-to: #ADB2D4;
    --color-custom-red: #AF3E3E;
    --color-custom-brown: #DA6C6C;
    --color-custom-orange: #CD5656;
    --color-custom-text: #E5BEB5;
    --color-text-primary: #324E2B;
    --color-text-secondary: #323232;
    --color-text-muted: #463d3b;
    --color-card-bg: #896C6C;
    --color-tag-bg: #EDE7E6;
    --color-border-light: #C9D3C2;
    --color-border-dark: #463d3b;
    --color-shadow-green: #A2AF9B;
    --color-light-hover: #EAEBD0;
  }


  .dark {
    --color-bg-from: #463d3b;
    --color-bg-via: #71543A;
    --color-bg-to: #AF3E3E;

    --color-light-hover: #DA6C6C;
  
}

html[dir="rtl"] {
  direction: rtl;
  text-align: left;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: right;
}
:root {
  --line-color: #AF3E3E;
}
.line {
  position: relative;
}


.line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 66.666667%; 
  height: 2px; 
  display: block;
  border-radius: 9999px;
  background: linear-gradient(90deg, transparent 0%, var(--line-color) 50%, transparent 100%);
  pointer-events: none;
}



/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--secondary,#D6A99D,
  );
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 255, 218, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(193, 133, 109,0.8);
}
